
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.back{
    line-height: 1.5;
    background-color: #DDE6ED;
       font-family: 'Roboto Condensed', sans-serif;
}


.contact-bg{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.3)), url("/images/branches.jpg"); 


    height: 40vh;
    background-position: 50% 100%; 
    background-repeat: no-repeat;
    background-attachment:fixed ;
    text-align: center;
    color:#F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   
}

.contact-bg h3{
    font-size: 1.9rem;
    font-weight: 400;

}

.contact-bg h2{
    font-size: 4.3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;

}

.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}

.line{
    display: flex;
    align-items: center;
    
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}

.contact-bg .text{
margin: 1.6rem 0 ;   
}

.contact-form{
  margin-right: 3rem;
    margin-left: 3rem;
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
 
}

.contact-form form ul li{
    padding-bottom: 1rem;
       font-size: 1.3rem;
}

.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;

    font-size: 1rem;
    outline: 0;
}

.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48,48,48,1);
}

.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contact-form form h1{
    font-size: 3rem;
}

.contact-form form ul{
    font-size: 1.2rem;
    padding-top: 5px;
}

.contact-form > div{
    margin: 0 auto;
    text-align: center;
}




@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    

}



@media screen and (max-width: 675px) {
 .map{
display: none;
  }
  }








